<h2>All Users</h2>

<h2>Add Post</h2>
<form method="post" action="/users">
    <label for="firstname">First name:</label>
    <input type="text" name="firstname">
    <label for="lastname">Last name:</label>
    <input type="text" name="lastname">
    <label for="age">Age:</label>
    <input type="number" name="age">
    <label for="email">Email:</label>
    <input type="text" name="email">
    <label for="password">Password:</label>
    <input type="text" name="password">
    <input type="submit" value="Add Post">
</form>